<div class="mb-3">
  <input
    type="{{ type }}"
    [ngClass]="control.touched && control.invalid ? 'is-invalid' : ''"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label }}"
  />
  <div class="invalid-feedback" *ngIf="control.errors?.['required']">
    Please Enter a {{ label }}
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
    {{ label }} needs to be at least
    {{control.errors?.['minlength'].requiredLength}} characters long
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['noMatch']">
    Passwords do not match
  </div>
</div>
